body{
background-color:lightblue;
}
h2{
color:navy;
margin-left:20px;
font-size:40px;
}
p{
color:red;
text-align:center;
font-size:30px;
}
div p{
background-color:yellow;
}
img{
opacity:0.1;
}
div img{
opacity:1.0;
}
a:hover{
background-color:yellow;
font-size:60px;
}
#para1{
text-align:center;
color:red;
}
.center{
    text-align:center;
    color:green;
}